body {
    background: white;
    text-align: left;
    margin: 70px auto;
    width: 80%;
    padding: 0 30px;
    font: 14px normal 'Varela Round', Helvetica, serif;
}

div {
    background: #c25975;
    border-radius: 4px;
    border: 0px solid #D5DDE4;
    margin: -10px 0 0;
}
/*
ul {
    list-style-type: none;
    padding: 0;
    background:#F5F6CE;
    margin: 0 0;
    width: 100%;
    display: inline-block;

}

li {
    color: #2C3232;
    width: 96%;
    padding: 15px 2%;
    margin: 0;
    text-align: left;
    border-top: 1px solid #D5DDE4;
    
}*/

/* When clicked on, add a background color and strike out text */
ul li.checked {
	color: #2C3232;
    width: 96%;
    
    margin: 0;
    text-align: left;
    border-top: 1px solid #D5DDE4;
    
    background: #ECF6CE;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #151515;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 0px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

button {
    margin:10px;
    padding:15px 50px;
    border: none;
    border-radius: 5px;
    background: #F7819F;
    
}
input{
	text-align: center;
	margin:10px;
    padding:10px 70px;
    border: none;
    border-radius: 2px;
    background: #FFFFFF;

}
